<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Usercontroller</display-name>
    <servlet-name>Usercontroller</servlet-name>
    <servlet-class>notes.controller.Usercontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usercontroller</servlet-name>
    <url-pattern>/Usercontroller</url-pattern>
  </servlet-mapping>
  <display-name>Notes</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>register.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Logincontroller</display-name>
    <servlet-name>Logincontroller</servlet-name>
    <servlet-class>notes.controller.Logincontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logincontroller</servlet-name>
    <url-pattern>/Logincontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>notes.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Todocontroller</display-name>
    <servlet-name>Todocontroller</servlet-name>
    <servlet-class>notes.controller.Todocontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Todocontroller</servlet-name>
    <url-pattern>/Todocontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoEditController</display-name>
    <servlet-name>TodoEditController</servlet-name>
    <servlet-class>notes.controller.TodoEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoEditController</servlet-name>
    <url-pattern>/TodoEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoDeleteController</display-name>
    <servlet-name>TodoDeleteController</servlet-name>
    <servlet-class>notes.controller.TodoDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoDeleteController</servlet-name>
    <url-pattern>/TodoDeleteController</url-pattern>
  </servlet-mapping>
</web-app>